/* CSS Reset */
html, body, div, p, a, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*General Styles*/
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

body {
	font-family: Arial;
	color: #007FFF;
}

#container {
    width:      80%;
    margin:     auto;
    position:   relative;
}

/*Header Styles*/
#header {
    width: 100%;
    border-bottom: 1px solid #007FFF;
    padding: 10px 0px;
    overflow: auto;
    position: relative;
}

#header-text {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#header-text div {
	width: 33.33333%;
	text-align: center;
	float: left;
}

#header-img-left {
	display: inline-block;
}

#header-img-right {
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 10px;
}

/*Content Styles*/
#content {
	padding: 20px 0px;
}

table {
	width: 100%;
	margin: 30px 0px;
	background-color: #F5F5F5;
	text-align: center;
	border-collapse: collapse;
	table-layout: fixed;
}

th, td {
	border: 1px solid #007FFF;
	padding: 5px;
}

td {
	color: #2E14FC;
	font-weight: bold;
}

#content img {
	margin: 50px 75px;
}

/*Footer Styles*/
#footer {
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid #007FFF;
	line-height: 150%;
}

#footer p {
	font-size: 75%;
}

/*Misc Styles*/
/*.test-border {
	box-sizing: border-box;
	border: 1px solid black;
}*/

.center {
	text-align: center;
}