nav ul {
    list-style: none;
    padding-left: 0px;
}

nav ul li {
    margin: 10px 0px;
}

.thumbnail > img {
    width: 225px;
    height: 175px;
}

.main h3, .main p {
    margin: 10px 0px 20px;
}

.labels {
    width: 200px;
    /*display: block;*/
    float: left;
}

#external-nav-links img {
    width: 64px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    margin: 10px 0px;
}

footer {
    margin: 20px 0 40px;
    padding-top: 18px;
    border-top: 1px solid #eee;
}

.html5-logo, .email-logo {
    width: 50px;
    height: auto;
}

.css3-logo {
    width: 40px;
    height: auto;
}

.add-bottom-border {

    border-bottom: 1px solid #eee;
}

.add-padding-top {
    padding-top: 10px;
}

.add-padding-bottom {
    padding-bottom: 10px;
}

#messages {
    margin: 15px;
}

select {
	background: #FFFFFF;
}

select:required { background: #FFF79F; }

select:valid { background: #FFFFFF; }

select:focus:invalid { background: #FFA49F; }

textarea {
	background: #fff no-repeat top right;
}

textarea:required { background-image: url('../img/required.png'); }

textarea:valid { background-image: url('../img/valid.png'); }

textarea:focus:invalid { background-image: url('../img/invalid.png'); }

input:not([type=submit]):not([type=checkbox]):not([type=reset]) {
	background: #FFFFFF no-repeat top right;
}

input:not([type=submit]):not([type=checkbox]):required {
	background-image: url('../img/required.png');
}

input:not([type=submit]):not([type=checkbox]):valid {
	background-image: url('../img/valid.png');
}

input:not([type=submit]):not([type=checkbox]):focus:invalid {
	background-image: url('../img/invalid.png');
}
