html, body, header, nav, footer, div, span, p, a, img, ul, li, fieldset, form, label, legend {
	margin:			0;
	padding:		0;
	border: 		0;
	font-size: 		100%;
	font: 			inherit;
	vertical-align: baseline;
}

body {
	font-family: 	"Arial", sans serif;
	color:			#0066FF;
}

ul {
	list-style:		none;
}

p, li{
	margin: 15px 0 15px 0;
}

header {
	font-weight: 	bold;
	border-bottom:	1px solid #0066FF;
}

header p{
	text-align:		center;
}

#container3, #container2, #container1 {
	float: 			left;
	width: 			100%;
}

#left-column {
	float: 			left;
	width: 			30%;
}

#center-column {
	float: 			left;
	width: 			40%;
}

#right-column {
	float: 			left;
	width: 			30%;
}

#internal-nav {
	padding: 		0px 10px 0px 10px;
}

#internal-nav p {
	font-weight: 	bold;
}

#welcome-message {
	text-align: center;
}

form {
	padding: 10px 10px 20px 10px;
	margin-bottom: 10px;
	border: 1px solid #0066FF;
	background-color: #DDEBFF;
	border-radius: 15px;
	box-shadow: 5px 5px 3px 3px rgba(25, 25, 75, .4);
}

#form-title {
	font-weight: bold;
	text-decoration: underline;
}

form div {
	margin-bottom: 10px;
}


.title {
	float: left;
	width: 250px;
}

#buttons {
	text-align: center;
}

.button {
	font-weight: bold;
	padding: 3px;
	background-color: #FFFFFF;
	color: #0066FF;
	border: 1px solid #0066FF;
	border-radius: 10px;
	box-shadow: 2px 2px 0px 0px rgba(17, 238, 17, .4);
}

select {
	width: 200px;
	height: 22px;
	border-radius: 10px;
	background: #FFFFFF;
}

select:required { background: #FFF79F; }

select:valid { background: #FFFFFF; }

select:focus:invalid { background: #FFA49F; }

textarea {
	padding: 3px;
	width: 95%;
	border-radius: 10px;
	background: #fff no-repeat top right;
}

textarea:required { background-image: url('../images/required.png'); }

textarea:valid { background-image: url('../images/valid.png'); }

textarea:focus:invalid { background-image: url('../images/invalid.png'); }

input[type=text], input[type=password], input[type=email] {
	width: 200px;
	height: 22px;
	border-radius: 10px;
}

input:not([type=submit]):not([type=checkbox]):not([type=reset]) {
	background: #FFFFFF no-repeat top right;
}

input:not([type=submit]):not([type=checkbox]):required {
	background-image: url('../images/required.png');
}

input:not([type=submit]):not([type=checkbox]):valid {
	background-image: url('../images/valid.png');
}

input:not([type=submit]):not([type=checkbox]):focus:invalid {
	background-image: url('../images/invalid.png');
}

#external-nav {
	padding: 0px 10px 0px 10px;
}

#external-nav p {
	font-weight: bold;
	text-align: right;
}

#external-nav img {
	height: 35px;
	width: 75px;
}

#messages {
	/* float: clear; */
	color: #AA3939;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	margin-top: 10px;
}


/* 
a:link { color:		#0066FF; }
a:hover { color: 	#00FFCD; }
a:visited {color: 	#6044FC; } 
*/

footer {
	clear: both;
	text-align: center;
	border-top: 1px solid #0066FF;
	margin-top: 10px;
	padding-top: 10px;
}

footer img {
	width: 50px;
	height: 50px;
}


/* #joinform {
	width: 35%;
	margin: auto;
	border: 5px double #4169e1;
	background-color: #99ffcc;
	margin-top: 5px;
	padding-left: 8px;
	border-radius: 15px;
	box-shadow: 5px 5px 3px 3px rgba(25, 25, 75, .4); /*H V Blr Spr rgb + new alpha channel for opacity *\/
	
} */
/* 
label {
	width: 11em;
	float: left;
	text-align: left;
} */

/* .fh1 {
	text-decoration: underline;
	font-weight: bold;
}
 */
/* #footer {
	font-size: 60%;
	
} */

/* #footer img {
	
} */
/* 
#messages {
	color: #ff0000;
	font-size: 85%
	text-align: center;
	font-style: italic;
	margin-top: 10px;
	font-weight: bold;
}

a:link {color: }
a:hover {color: }
a:visited {color: }

.submit input {
	color: #ffffff;
	font-size: 95%;
	font-style: italic;
	font-weight: bold;
	background-color: #11dd11;
	border-radius: 10px;
	box-shadow: 2px 2px 0px 0px rgba(17, 238, 17, .4);
}	

.reset input {
	background-color: #dd1111;
	border-radius: 10px;
	box-shadow: 3px 3px 0px 0px rgba(238, 17, 17, .4);
}

select {
	width: 200px;
	height: 22px;
	border-radius: 10px;
	background: #fff;
}

select:required { background: #ff0; }

select:valid { background: #fff; }

select:focus:invalid { background: #foo; }

textarea {
	padding: 3px;
	width: 371px;
	border-radius: 10px;
	background: #fff no-repeat top right;
}

textarea:required { background-image: url('../images/required.png'); }

textarea:valid { background-image: url('../images/valid.png'); }

textarea:focus:invalid { background-image: url('../images/invalid.png'); }

input[type=text], input[type=password], input[type=email] {
	width: 190px;
	height: 20px;
	padding: 3px;
	border-radius: 10px;
}

input:not([type=submit]):not([type=checkbox]):not([type=reset]) {
	background: #fff not-repeat top right;
}

input:not([type=submit]):not([type=checkbox]):required {
	background-image: url('../images/required.png');
}

input:not([type=submit]):not([type=checkbox]):valid {
	background-image: url('../images/valid.png');
}

input:not([type=submit]):not([type=checkbox]):focus:invalid {
	background-image: url('../images/invalid.png');
}

 */