html, body, header, nav, footer, div, p, a, img, ul, li, form, label{
	margin: 			0px;
	padding: 			0px;
	border: 			0px;
	font-size: 			100%;
	font: 				inherit;
	vertical-align: 	baseline;
}

body {
	font-family: 		"Arial", sans serif;
	color:				#0066FF;
}

header {
	font-weight: 		bold;
	text-align:			center;
	border-bottom:		1px solid #0066FF;
}

ul {
	list-style:			none;
}

p, li{
	margin: 			15px 0 15px 0;
}

#container3, #container2, #container1 {
	float: 				left;
	width: 				100%;
}

#left_column {
	float: 				left;
	width: 				15%;
}

#center_column {
	float: 				left;
	width: 				70%;
}

#right_column {
	float: 				left;
	width: 				15%;
}

#internal_nav {
	padding: 			0px 10px 0px 10px;
}

#internal_nav p {
	font-weight: 		bold;
}

#welcome_message {
	text-align: 		center;
}

#form_descriptor {
	font-weight: 		bold;
	text-decoration: 	underline;
}

form {
	padding: 			10px 10px 20px 10px;
	margin-bottom: 		10px;
	border: 			1px solid #0066FF;
	background-color: 	#DDEBFF;
	border-radius: 		15px;
	box-shadow: 		5px 5px 3px 3px rgba(25, 25, 75, .4);
}

form div {
	margin-bottom: 		10px;
}

.label {
	float: 				left;
	width: 				250px;
}

select {
	width: 				200px;
	height: 			22px;
	border-radius: 		10px;
	background: 		#FFFFFF;
}

select:required { background: #FFF79F; }

select:valid { background: #FFFFFF; }

select:focus:invalid { background: #FFA49F; }

textarea {
	padding: 			3px;
	width: 				95%;
	border-radius: 		10px;
	background: 		#fff no-repeat top right;
}

textarea:required { background-image: url('../images/required.png'); }

textarea:valid { background-image: url('../images/valid.png'); }

textarea:focus:invalid { background-image: url('../images/invalid.png'); }

input[type=text], input[type=password], input[type=email] {
	width: 				200px;
	height: 			22px;
	border-radius: 		10px;
}

input:not([type=submit]):not([type=checkbox]):not([type=reset]) {
	background: 		#FFFFFF no-repeat top right;
}

input:not([type=submit]):not([type=checkbox]):required {
	background-image: 	url('../images/required.png');
}

input:not([type=submit]):not([type=checkbox]):valid {
	background-image: 	url('../images/valid.png');
}

input:not([type=submit]):not([type=checkbox]):focus:invalid {
	background-image: 	url('../images/invalid.png');
}

#buttons {
	text-align: 		center;
}

.button {
	font-weight: 		bold;
	padding: 			3px;
	background-color: 	#FFFFFF;
	color: 				#0066FF;
	border: 			1px solid #0066FF;
	border-radius: 		10px;
	box-shadow: 		2px 2px 0px 0px rgba(17, 238, 17, .4);
}

#external_nav {
	padding: 			0px 10px 0px 10px;
	box-sizing: border-box;
	border: 1px solid black;
}

#external_nav p {
	font-weight: 		bold;
	text-align: 		right;
}

#external_nav img {
	height: 			35px;
	width: 				75px;
}

#messages {
	color: 				#AA3939;
	text-align: 		center;
	font-weight: 		bold;
	font-style: 		italic;
	margin-top: 		10px;
}

footer {
	clear: 				both;
	text-align:			center;
	border-top:			1px solid #0066FF;
	padding-top: 		10px;
}

footer img {
	width: 				50px;
	height: 			50px;
}

footer #copyright {
	font-size: 			75%;
}

footer a:link { text-decoration: none; }

#icons {
	/* width: 80%; */
	/* margin: auto; */
	position: relative;
	/* border: 1px solid black; */
	text-align: center;
	font-style: italic;
	font-weight: bold;
	margin-top: 40px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#icons a:link { text-decoration: none; }

#icon3 {
	box-sizing: border-box;
	/* border: 5px solid black; */
	width: 33%;
	margin: auto;
	/* position: relative; */
	/* display: inline-block; */
	/* float: left; */
}



#icons img {
	/* width: 222px; */
	width: 150px;
	height: 150px;
	/* margin: auto; */
	/* float: left; */
	/* border: 5px solid black; */
	/* margin: auto; */
	/* height: 222px; */
	/* border: none; */
}

.caption {
	clear: both;
	margin-top: 0;
}

.oreo {
	color: red;
	font-size: 105%;
	font-weight: bold;
}

#php {
	box-sizing: border-box;
	/* border: 5px solid red; */
	clear: both;
}