form {
	width:			400px;
	margin:			0px auto;
}

h1 {
	text-align:		left;
	margin:			0px auto 15px;
	padding-bottom:	5px;
	border-bottom:	2px solid #c00;
}

label {
	width:			100px;
	text-align:		left;
	font-size:		12px;
	font-weight:	bold;
	float:			left;
}

input[type="text"], input[type="password"] {
	width:			300px;
	font-size:		12px;
	margin:			0px 0px 10px;
	padding:		5px;
	border:			2px solid #848484;
	border-radius:	5px;
	box-sizing:		border-box;
	display:		block;
}

input[type="submit"] {
	float:			right;
}

.alert {
	font-style:		italic;
	color:			#c00;
	display:		none;
}

.active {
	display:		initial;
}